/* Global Setting */
* {
  box-sizing: border-box;
  font-family: 'Arvo', serif;
}
body {
 margin: 0; 
}
a {
  text-decoration: none;
  text-color: black;
}
ul {
  list-style: none;
}
.container-fluid {
  position: relative;
  width: 100%;
}
.italic {
  font-style: italic;
}
/* Header */
h1 {
  font-size: 2.4em;
}
button.collapsible {
  border-radius: 100%;
  position: fixed;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border: solid 1px black;
  z-index: 999;
}
.collapsed {
  margin: 0 auto;
  padding: 0;
  position: fixed;
  top: 80px;
  width: 100%;
  text-align: center;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s;
  z-index: 999;
}
.collapsed li {
  background-color: #eee;
  margin: 0 20px;
  padding: 10px 0;
}
.banner {
  width: 100%;
}
.logo {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  text-shadow: 3px 3px 4px #000;
}
/* Main Content */
section {
  text-align: center;
  padding: 40px 40px 80px;
}
h2 {
  font-size: 1.8em;
  margin: 40px 20px;
  color: #c30;
}
/* About Us */
.container-about {
  margin-top: -4px;
}
.container-about, .container-contact {
  color: white;
  background-color: #222;
}
.hr1 {
  width: 30px;
  border: solid 3px #c30;
}
/* Menu */
.container-menu {
  color: #222;
  background-color: #f4f4f4;
}
#menu h3 {
  margin: 40px 20px 30px;
  color: black;
}
.hr2 {
  width: 30px;
  border: solid 3px red;
}
.menuitem {
  position: relative;
  text-align: left;
}
.menuitem span {
  position: absolute;
  right: 0px;
  bottom: 0;
  color: #c30;
}
.menuitem h4, .menuitem p {
  padding-right: 50px;
}
.hr3 {
  border: 0.5px dashed;
}
/* Contact */
.icon {
  padding: 0;
  margin: 0;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #f4f4f4;
  color: #c30;
  border: solid 2px white;
  font-size: 1.3em;
}
#contact p {
  margin-bottom: 40px;
}
#contact hr {
  margin-top: 80px;
  margin-bottom: 80px;
}